@model BELLITSupportSystem.Models.TicketModel

@{
    ViewBag.Title = Resources.Global.TicketsViewTitle;
}
<script>
    var action = '@TempData["ActionStatus"]';
</script>
<h2>@ViewBag.Title</h2>
<div>
    <div id="msgFailure" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>@Resources.Global.Danger!</strong> @Resources.Global.DangerTost
    </div>

    <div id="msgSuccess" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>@Resources.Global.Success!</strong> @Resources.Global.SuccessTost
    </div>
</div>
<div class="row jumbotron">
    @{
        Html.BeginForm("IssueTicket", "Tickets", FormMethod.Post);
    }
    <div class="col-md-4">
        <div class="form-group">
            @Html.Label("ProjectName", @Resources.Global.lblProjectName)
            @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control", @id = "ProjectName", @placeholder = @Resources.Global.lblProjectName, @required = true })
        </div>
        <div class="form-group">
            @{Html.RenderAction("DepartmentList");}
        </div>
        <div class="form-group" id="EmployeeList">

        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            @Html.Label("Description", @Resources.Global.lblDescription)
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @id = "Description", @placeholder = Resources.Global.PlaceHolderDesc, @rows = "6", @required = true })
        </div>
        <div class="form-group" style="margin-top:5px">
            <input type="submit" class="btn btn-primary form-control" id="Submit" name="btnSubmit" value="@Resources.Global.btnSubmit" />
        </div>
    </div>
    @{ Html.EndForm(); }
</div>